@import '../../../styles/colors';
@import '../../../styles/breakpoints';
.LinkCard {
  position: relative;
  display: block;
  box-sizing: border-box;
  background-color: white;
  border: 2px solid $disabledColor;
  border-radius: 4px;
  padding: 0;
  text-align: left !important;
  overflow: visible;
  padding: 20px;

  @include respond(500px) {
    width: 100% !important;
  }


  &:hover,
  &:active {
    box-shadow: 0 0 18px 0px rgba(35, 67, 144, 0.2);
  }
}