
// Primary Colors
$PrimaryColor: #3f51b5;
$PrimaryColor20: #bebfc4;

$PrimaryColorHover: #303f9f;
$PrimaryColorBackgroundHover: #dbdffa;
$secondaryColor: #b53fb5;

$redColor: #f44336;

// Neutral Colors
$white: white;
$black: black;
$gray: #9e9e9e;
$lightGray: #e4e4e4;
$hoverGray: #f1f1f1;
$darkgray: #4e4e4e;

// Disabled colors
$disabledColor: #d6d6d6;
$disabledText: white;
$disabledTextGray: #9e9e9e;

// Dark Theme
$SliderDarkBackground: #424242;

// Animation Durations
$cardHoverAnimationDuration: .25;
