
// Primary Colors
$PrimaryColor: #3f51b5;
$PrimaryColorHover: #303f9f;
$secondaryColor: #b53fb5;

// Neutral Colors
$white: white;
$black: black;
$gray: #9e9e9e;
$hoverGray: #f1f1f1;

// Disabled colors
$disabledColor: #d6d6d6;
$disabledText: white;
$disabledTextGray: #9e9e9e;

// Dark Theme
$SliderDarkBackground: #424242;

// Animation Durations
$cardHoverAnimationDuration: .25;
