@import '../../../styles/_colors.scss';

.Button {
  background-color: $PrimaryColor;
  color: $white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;

  &:hover{
    &:not(.disabled){
      filter: brightness(1.2);
    }
  }

  &.small {
    font-size: 12px;
    padding: 10px 15px;
  }

  &.medium {
    font-size: 14px;
    padding: 10px 20px;
  }

  &.large {
    font-size: 18px;
    padding: 15px 30px;
  }

  &:focus {
    outline: none;
  }

  &.disabled {
    background-color: $disabledColor;
    color: $disabledText;
    cursor: not-allowed;
  }
}