@import '../../../styles/colors';

.Spinner {
  display: flex;
  width: fit-content;
  justify-content: center;
  &.xs {
    height: 20px;
  }
  &.small {
    height: 50px;
  }

  &.medium {
    height: 100px
  }

  &.large {
    height: 150px
  }
}

.SpinnerSVG {
  width: fit-content;
  animation: rotate 3.6s linear infinite;
}

.SpinnerCircle {
  fill: none;
  stroke: $PrimaryColor;
  stroke-width: 8px;
  stroke-dasharray: 300;
  animation: outline 2s cubic-bezier(0.77, 0, 0.18, 1) infinite;
}

.SpinnerCenter {
  fill: $PrimaryColor;
}

@keyframes outline {
  0% {
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dashoffset: 300;
  }

  100% {
    stroke-dashoffset: 600;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(-1turn);
  }
}