@import '../../../styles/colors';
@import '../../../styles/breakpoints';

.CardGroupContentWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

@media (max-width: 800px) {
  .CardGroupContentWrap {
    width: 100%;
    flex-direction: column;
  }
}
